@font-face {
  font-family: Fontname;
  src: url("Fonts/holligate-signature-demo/holligate-signature-demo.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
}

.gradient {
  background: linear-gradient(
    to right,
    rgba(239, 118, 87, 1),
    rgba(255, 168, 123, 0.8134),
    rgba(251, 46, 95, 0.41)
  );
}

.Nav-bar {
  display: flex;
  justify-content: center;
}

#menu {
  display: none;
  width: 358px !important;
  height: 374px !important;
}

.NavBar-links {
  color: #ffffff;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.NavBar-link {
  padding-top: 20px;
}

.footer {
  margin-top: 20px;
}

.Footer-links {
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 16px;
  padding-top: 15px;
}

.Footer-list {
  margin-left: -50px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.hamburger1,
.hamburger2 {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#HamburgerButton {
  margin-left: 100px;
}

#HamburgerButton.open {
  margin-left: 100px;
}

.line {
  width: 30px;
  height: 2px;
  background-color: white;
  margin: 4px 0;
  transition: transform 0.3s ease-in-out;
}

.open .line:nth-child(1) {
  opacity: 0;
}

.open .line:nth-child(2) {
  transform: rotate(45deg) translate(45%, -45%);
}
.open .line:nth-child(3) {
  opacity: 0;
}

.open .line:nth-child(4) {
  transform: rotate(-45deg) translate(45%, -45%);
}

.containerlogo {
  display: flex;
  justify-content: flex-start;
}

#headerrow {
  padding-top: 20px;
}

#logo,
#logo1 {
  font-family: "Fontname";
  color: white !important;
  font-size: 36px !important;
}

#logo1:hover {
  color: #eeeeee;
}

#logo:hover {
  color: #eeeeee;
}

#menu.open {
  display: block;
  background-color: #e06943;
  border: solid;
  border-color: #e06943;
  border-radius: 4%;
  width: 80%;
  margin-bottom: 10px;
}

li {
  list-style: none;
  padding-left: -50px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
