$rust: #e06943;
$brown: #482d2d;
$white: #f1f1f1;
$black: #1b1b1b;
$shadow: rgba(27, 27, 27, 0.536);

$theme-colors: (
  "primary": $rust,
  "secondary": $white,
);

body {
  font-family: Helvetica, sans-serif;
  color: $black;
}

h1 {
  font-size: 36px !important;
  color: $white;
  text-align: center;
}

h2 {
  font-size: 20px !important;
}

h3 {
  font-size: 16px !important;
}

p {
  font-size: 16px !important;
  margin-bottom: 0 !important;
}

.button {
  width: 350px !important;
  height: 50px !important;
  border-radius: 20px !important;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
  margin: 10px;
  font-weight: bold !important;
}

.primary-button {
  color: $white !important;
}

.secondary-button {
  color: $rust !important;
  border: 1px solid $rust !important;
}

.main-divs {
  padding: 16px;
}

.Bootstrap-clock {
  width: 36px;
  height: 36px;
  color: #575757;
  margin-right: 24px;
}

.HomeView-image-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 260px;
  background-image: url(danny-howe-bn-D2bCvpik-unsplash.jpg);
  background-size: contain;
}

.HomeView-image-div > h1 {
  width: 70%;
}

.EventCard-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 10px;
  width: 129px;
  height: 165px;
  margin-right: 16px;
  text-decoration: none;
  color: inherit;
}

.EventCard-div:hover {
  color: inherit;
}

.EventCard-description > h3,
p {
  text-align: left;
  margin-bottom: 0;
}

.EventCard-image-div {
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.2));
  width: 129px;
  height: 110px;
  border-radius: 20px;
  position: relative;
}

.EventCard-image-wrapper {
  overflow: hidden;
  border-radius: inherit;
  width: 100%;
  height: 100%;
}

.EventCard-gratis-div {
  background-color: $black;
  color: $white;
  padding: 4px 10px;
  border-radius: 10px 0 20px 0;
  position: absolute;
  bottom: 0;
  right: 0;
}

.EventCard-gratis-div > p {
  margin: 0;
  font-size: 14px;
}

.EventCard-image {
  width: 100%;
  object-fit: contain;
}

.event-div {
  width: 375px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.BigEventCard-div {
  gap: 16px;
  width: 171px;
  height: 205px;
  margin-right: 0;
}

.BigEventCard-image-div {
  width: 171px;
  height: 146px;
}

/* Titel till stor biled event */

// width: 171px;
// height: 43px;

// /* Inside auto layout */
// flex: none;
// order: 1;
// flex-grow: 0;

// /* Titel Kategori */

// position: absolute;
// left: 0%;
// right: 0%;
// top: 0%;
// bottom: 0%;

// /* P, Body Text */
// font-family: "Helvetica";
// font-style: normal;
// font-weight: 700;
// font-size: 16px;
// line-height: 18px;

// color: #000000;

.SearchField-form {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 16px;
  width: 90%;
  height: 56px;
  margin: auto;
}

.SearchField-input {
  width: 100%;
  background: #dbdbdb;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  outline: none;
  border: none;
  padding: 5px 5px 5px 40px;
}

.SearchField-icon {
  position: absolute;
  left: 30px;
}

.EventView-image-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.EventView-image {
  width: 100%;
  // aspect-ratio: 1/1;
  object-fit: contain;
}

.EventView-divs {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 24px;
}

// .EventView-location-div {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
// }

.EventView-location-image {
  width: 36px;
  height: 36px;
  object-fit: fill;
  border-radius: 50%;
  margin-right: 24px;
}

.EventView-p {
  margin: 0;
}

.EventView-category-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.EventView-category {
  text-transform: uppercase;
  font-size: 12px !important;
}

.EventView-location {
  font-size: 15px !important;
  font-weight: bold !important;
}

.ListView-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
}

/* Inside auto layout */
// flex: none;
// order: 0;
// align-self: stretch;
// flex-grow: 0;

/* Sök med ikon */

/* Auto layout */
// display: flex;
// flex-direction: row;
// align-items: center;
// padding: 0px;
// gap: 4px;

// width: 55.02px;
// height: 48px;

/* Inside auto layout */
// flex: none;
// order: 0;
// flex-grow: 0;

/* Frame */

// width: 22.02px;
// height: 22px;

// transform: matrix(1, 0, 0, -1, 0, 0);

/* Inside auto layout */
// flex: none;
// order: 0;
// flex-grow: 0;

/* Group */

// position: absolute;
// left: 0.05%;
// right: 19.19%;
// top: 90%;
// bottom: -67.5%;

// transform: matrix(1, 0, 0, -1, 0, 0);

/* Vector */

// position: absolute;
// left: 0.05%;
// right: 19.19%;
// top: 90%;
// bottom: -67.5%;

// background: #575757;
// transform: matrix(1, 0, 0, -1, 0, 0);

/* Sök */

// width: 29px;
// height: 48px;

/* P, Body Text */
// font-family: "Helvetica";
// font-style: normal;
// font-weight: 400;
// font-size: 16px;
// line-height: 18px;
// display: flex;
// align-items: center;

// color: #000000;

/* Inside auto layout */
// flex: none;
// order: 1;
// flex-grow: 0;

@import "~bootstrap/scss/bootstrap";
